function GameCentipede.new 1
push constant 11
call Memory.alloc 1
pop pointer 0
call RandSeed.getSeed 0
call Random.setSeed 1
pop temp 0
push constant 248
push constant 230
call Ship.new 2
pop this 0
push constant 0
pop this 4
call ManageShots.new 0
pop this 1
call ManageCentipede.new 0
pop this 2
push constant 510
pop this 8
push constant 230
pop this 9
push this 2
call ManageCentipede.activate 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 15
lt
not
if-goto WHILE_END0
push this 10
push this 8
push this 9
call Block.placeBlock 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function GameCentipede.dispose 0
push argument 0
pop pointer 0
push this 0
call Ship.dispose 1
pop temp 0
push this 1
call ManageShots.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function GameCentipede.moveship 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Ship.moveUp 1
pop temp 0
label IF_FALSE0
push this 4
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Ship.moveDown 1
pop temp 0
label IF_FALSE1
push this 4
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Ship.moveLeft 1
pop temp 0
label IF_FALSE2
push this 4
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Ship.moveRight 1
pop temp 0
label IF_FALSE3
push this 4
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 4
label IF_FALSE4
push constant 0
return
function GameCentipede.endGame 0
push argument 0
pop pointer 0
push constant 10
push constant 30
call Output.moveCursor 2
pop temp 0
push argument 1
call Output.printString 1
pop temp 0
push constant 0
return
function GameCentipede.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 32
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push constant 40
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 5
goto IF_END2
label IF_FALSE2
push this 5
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push this 0
call Ship.getX 1
push this 0
call Ship.getY 1
push constant 16
sub
call ManageShots.fire 3
pop temp 0
label IF_FALSE3
push this 5
push constant 1
add
pop this 5
label IF_END2
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
pop this 4
label IF_FALSE4
push local 0
push constant 133
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 2
pop this 4
label IF_FALSE5
push local 0
push constant 130
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 3
pop this 4
label IF_FALSE6
push local 0
push constant 132
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 4
pop this 4
label IF_FALSE7
push this 6
push constant 50
gt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
pop this 6
goto IF_END8
label IF_FALSE8
push this 6
push constant 0
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 2
call ManageCentipede.run 1
pop temp 0
label IF_FALSE9
push this 6
push constant 1
add
pop this 6
label IF_END8
push pointer 0
call GameCentipede.moveship 1
pop temp 0
push this 1
push this 2
call ManageShots.run 2
pop temp 0
push this 2
call ManageCentipede.anyAlivePart 1
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push constant 7
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
call GameCentipede.endGame 2
pop temp 0
push constant 0
not
pop local 1
goto IF_END10
label IF_FALSE10
push this 2
call ManageCentipede.reachedEnd 1
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call GameCentipede.endGame 2
pop temp 0
push constant 0
not
pop local 1
label IF_FALSE11
label IF_END10
push constant 5
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
